@model List<EFDBFirstExample.Models.Brand>
@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Brands</h2>
<a href="/brands/create">Create New Brand</a>
<form class="form-inline" action="/Brands/index">
    <label for="Search">Search</label>
    <input type="search" class="form-control" id="search" name="search" placeholder="Search by Brand Name" value="@ViewBag.search" />
    <button type="submit" class="btn btn-primary">Go</button>
</form>
<table class="table">
    <tr>
        <th>Brand Id</th>
        <th>Brand Name</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.BrandID</td>
    <td>@item.BrandName</td>
</tr>}
    <tr>
        <td colspan="9">
            @{ int PrevPageNo = ViewBag.PageNo - 1;
                if (PrevPageNo <= 0)
                {
                    PrevPageNo = 1;
                }
                int NextPageNo = ViewBag.PageNo + 1;
                if (NextPageNo > ViewBag.NoOfPages)
                {
                    NextPageNo = ViewBag.NoOfPages;
                } }
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/Brands/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@PrevPageNo">Prev</a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if ((i + 1) == ViewBag.PageNo)
                    {
    <li class="page-item active">
        <a class="page-link" href="/Brands/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i+1)">@(i+1)</a>
    </li>
 }
else
{
<li class="page-item">
    <a class="page-link" href="/Brands/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i+1)">@(i+1)</a>
</li>
}
}
                <li class="page-item">
                    <a class="page-link" href="/Brands/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@NextPageNo">Next</a>
                </li>
            </ul>
        </td>
    </tr>
</table>
