@model List<EFDBFirstExample.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Products</h2>
<a href="/products/create">Create</a>
<form class="form-inline" action="/products/index">
    <label for="serach">Search</label>
    <input type="search" class="form-control" id="search" name="search" placeholder="Search by Product Name"  value="@ViewBag.search"/>
    <button type="submit" class="btn btn-primary">Go</button>
</form>
<table class="table">
    <tr class="table-secondary">
        <th style="width:5%">
            Photo
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
    <a href="/Products/index?SortColumn=ProductID&IconClass=fa-sort-asc&PageNo=1">Product ID</a> if (ViewBag.SortColumn == "ProductID")
                    {
    <i class="fa @ViewBag.IconClass"></i> }
                }
                else
                {
    <a href="/Products/index?SortColumn=ProductID&IconClass=fa-sort-desc&PageNo=1">Product ID</a> if (ViewBag.SortColumn == "ProductID")
                    {
    <i class="fa @ViewBag.IconClass"></i>                }
                }
        </th>

        <th style="width:20%">

            @if (ViewBag.IconClass == "fa-sort-desc")
            {
    <a href="/Products/index?SortColumn=ProductName&IconClass=fa-sort-asc&PageNo=1">Product Name</a> if (ViewBag.SortColumn == "ProductName")
                    {
    <i class="fa @ViewBag.IconClass"></i> }
                }
                else
                {
    <a href="/Products/index?SortColumn=ProductName&IconClass=fa-sort-desc&PageNo=1">Product Name</a> if (ViewBag.SortColumn == "ProductName")
                    {
    <i class="fa @ViewBag.IconClass"></i>                }
                }
        </th>
        <th style="width:5%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
    <a href="/Products/index?SortColumn=Price&IconClass=fa-sort-asc&PageNo=1">Price</a> if (ViewBag.SortColumn == "Price")
                    {
    <i class="fa @ViewBag.IconClass"></i> }
                }
                else
                {
    <a href="/Products/index?SortColumn=Price&IconClass=fa-sort-desc&PageNo=1">Price</a> if (ViewBag.SortColumn == "Price")
                    {
    <i class="fa @ViewBag.IconClass"></i>                }
                }

        </th>
        <th style="width:12%">

            @if (ViewBag.IconClass == "fa-sort-desc")
            {
    <a href="/Products/index?SortColumn=DateOfPurchase&IconClass=fa-sort-asc&PageNo=1">Date Of Purchase</a> if (ViewBag.SortColumn == "DateOfPurchase")
                    {
    <i class="fa @ViewBag.IconClass"></i> }
                }
                else
                {
    <a href="/Products/index?SortColumn=DateOfPurchase&IconClass=fa-sort-desc&PageNo=1">Date Of Purchase</a> if (ViewBag.SortColumn == "DateOfPurchase")
                    {
    <i class="fa @ViewBag.IconClass"></i>                }
                }
        </th>
        <th style="width:10%">

            @if (ViewBag.IconClass == "fa-sort-desc")
            {
    <a href="/Products/index?SortColumn=AvailabilityStatus&IconClass=fa-sort-asc&PageNo=1">AvailabilityStatus</a> if (ViewBag.SortColumn == "AvailabilityStatus")
                    {
    <i class="fa @ViewBag.IconClass"></i> }
                }
                else
                {
    <a href="/Products/index?SortColumn=AvailabilityStatus&IconClass=fa-sort-desc&PageNo=1">AvailabilityStatus</a> if (ViewBag.SortColumn == "AvailabilityStatus")
                    {
    <i class="fa @ViewBag.IconClass"></i>                }
                }
        </th>
        <th style="width:10%">

            @if (ViewBag.IconClass == "fa-sort-desc")
            {
    <a href="/Products/index?SortColumn=CategoryID&IconClass=fa-sort-asc&PageNo=1">Category</a> if (ViewBag.SortColumn == "CategoryID")
                    {
    <i class="fa @ViewBag.IconClass"></i> }
                }
                else
                {
    <a href="/Products/index?SortColumn=CategoryID&IconClass=fa-sort-desc&PageNo=1">Category</a> if (ViewBag.SortColumn == "CategoryID")
                    {
    <i class="fa @ViewBag.IconClass"></i>                }
                }
        </th>
        <th style="width:10%">

            @if (ViewBag.IconClass == "fa-sort-desc")
            {
    <a href="/Products/index?SortColumn=BrandID&IconClass=fa-sort-asc&PageNo=1">Brand</a> if (ViewBag.SortColumn == "BrandID")
                    {
    <i class="fa @ViewBag.IconClass"></i> }
                }
                else
                {
    <a href="/Products/index?SortColumn=BrandID&IconClass=fa-sort-desc&PageNo=1">Brand</a> if (ViewBag.SortColumn == "BrandID")
                    {
    <i class="fa @ViewBag.IconClass"></i>                }
                }
        </th>
        <th style="width:10%">

            @if (ViewBag.IconClass == "fa-sort-desc")
            {
    <a href="/Products/index?SortColumn=Active&IconClass=fa-sort-asc&PageNo=1">Active</a> if (ViewBag.SortColumn == "Active")
                    {
    <i class="fa @ViewBag.IconClass"></i> }
                }
                else
                {
    <a href="/Products/index?SortColumn=Active&IconClass=fa-sort-desc&PageNo=1">Active</a> if (ViewBag.SortColumn == "Active")
                    {
    <i class="fa @ViewBag.IconClass"></i>                }
                }
        </th>
        <th style="width:5%">
            Quantity
        </th>
        <th style="width:10%">
            Book.
        </th>
        <th style="width:10%">Action</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td><img src="data:image;base64,@item.Photo" width="100px" /></td>
    <td>@item.ProductID</td>
    
    <td>@item.ProductName</td>
    <td>@item.Price.ToString("C")</td>
    <td>@item.DateOfPurchase.ToString("d/M/yyyy")</td>
    <td>@item.AvailabilityStatus</td>
    <td>@item.Category.CategoryName</td>
    <td>@item.Brand.BrandName</td>
    <td>@item.Active</td>
    <td>@item.Quantity</td>
    <td><a asp-action="Booking" class="btn btn-success" href="/products/Booking/@item.ProductID">Book Now</a></td>
    <td>        
        <a href="/products/details/@item.ProductID">Details</a> |
        <a href="/products/edit/@item.ProductID">Edit</a> |
        <a href="/products/delete/@item.ProductID">Delete</a>
    </td>
</tr>
    }
    <tr>
        <td colspan="9">
            @{ 
                int PrevPageNo = ViewBag.PageNo - 1;
                if (PrevPageNo <= 0)
                {
                    PrevPageNo = 1;
                }
                int NextPageNo = ViewBag.PageNo + 1;
                if (NextPageNo > ViewBag.NoOfPages)
                {
                    NextPageNo = ViewBag.NoOfPages;
                }
            }
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/Products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@PrevPageNo">Prev</a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if ((i + 1) == ViewBag.PageNo)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/Products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i+1)">@(i+1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@(i+1)">@(i+1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/Products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&PageNo=@NextPageNo">Next</a>
                </li>
            </ul>
        </td>
    </tr>
</table>
